@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');

:root {
    --window-width: 800px;
    --date-font: 18pt;
    --tx-duration: 0.15s;
}

body {
    background: white;
    color: #fff;
    font-family: 'Roboto Condensed';
    margin: 0px;
    padding: 0px;
    width: var(--window-width);
}

.top-row {
    background: #3F51B5;
    -webkit-app-region: drag;
    width: var(--window-width);
    height: 20px;
    margin: 0px;
}

.top-row .buttons {
    font-size: 12pt;
    height: 20px;
    width: 20px;
    padding: 0px;
    transition-duration: var(--tx-duration);
}

.top-row .buttons:focus {
    outline: 0;
}

.top-row .buttons:hover {
    background-color: white;
    color: #3F51B5;
    border: none;
    z-index: 1;
}

button {
    -webkit-app-region: no-drag;
    float: right;
    background: #3F51B5;
    border: none;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
}

.heatmap {
    width: 100%;
    height: 600px;
    margin-top: 0px;
}

.range-slider {
    width: 100%;
    height: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    width: 100%;
    margin: 0px;
    /* Full-width */
    height: 20px;
    /* Specified height */
    background: white;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.8;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 25px;
    /* Set a specific slider handle width */
    height: 20px;
    /* Slider handle height */
    background: #3F51B5;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

#heatmap-canvas {
    position: absolute;
}

#room-layout {
    position: absolute;
}

#node-layout {
    position: absolute;
}